<h1>Input your test to translate to Leet Speak</h1>
<div class="form-group">
  <form action="/results" method="post">
    <label for="sentence">Put your text here</label>
    <input type="text" name="sentence" id="sentence">
    <button type="submit">Leet Speak</button>
  </form>
</div>
